<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>Wallhaven</title>

    <meta name="author" content="CarlChang39" />
    <meta name="keywords" content="Microsoft Bing wallpaper, Computer desktop wallpaper, wallpaper downloading" />
    <meta name="description" content="Free browsing and downloads for Microsoft Bing wallpapers" />

    <!--页面核心js文件-->
    <!-- <script src="wallpaper.js"></script> -->
</head>
<body>

<div class="banner">
    <h1 class="webTitle">Wallhaven wallpaper</h1>
    <ul id="banner">
    </ul>
        <li>Wallhaven wallpapers of sorting {{ sorting }}.</li>
</div>

<div class="wallpaper-list">
    <!--列表开始-->
    <ul>
        {% for wallpaper in wallpaper_list %}
            <div class="img">
                <img src="{{ wallpaper.url }}" alt="Loading" style="width:300px;height:200px">
            </div>
            <div></div>
        {% endfor %}
    </ul>
    <!--列表结束-->
</div>

</body>